// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-size: 14px;
  font-weight: normal;
  color: #cccbcb;
}

nav.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}

/* footer */

footer {
  margin: 45px 20% 0px 20%;
  padding-top: 5px;
  color: #cccbcb;
  font-size: 13px;
  font-weight: bold;
  position: relative;

  a {
    color: #cccbcb;
  }

  a:hover {
    color: #222;
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }
}

/* User gravatar */

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;

  .gravatar {
    float: none;
    max-width: 70px;
  }

  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
  }
}

.gravatar {
  float: left;
  max-width: 50px;
  border-radius: 50%;
}

.fullscreenvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.videocontainer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

.videocontainer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(25, 29, 34, .65);
}
